<%- include('./partials/head.ejs') %>

    <body>
        <div class="container ">
            <div><%- include('./partials/nav.ejs') %></div>
            <h1>404 Page</h1>
            <hr>
            <p>Page Not Found!</p>
        </div>
    </body>

    </html>