<%- include('./partials/head.ejs') %>

    <body>
        <div class="container ">
            <div><%- include('./partials/nav.ejs') %></div>
            <h1>Create Page</h1>
            <hr>
            <form action="/create" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input name="title" type="title" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="snippet">Snippet:</label>
                    <input type="snippet" class="form-control" id="snippet" name="snippet">
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" rows="3" name="body"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>

    </html>