<%- include('./partials/head.ejs') %>

    <body>
        <div class="container ">
            <div><%- include('./partials/nav.ejs') %></div>
            <h1>Create Page</h1>
            <hr>
            <form action="">
                <input type="text" name="" id="">
                <textarea name="" id=""></textarea>
                <button>Submit</button>
            </form>
        </div>
    </body>

    </html>